dwexp/src/main/mule/dwexp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f6607991-98cc-4489-9a5f-30592b368bfd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwexpFlow" doc:id="721fbc6a-7688-4175-90bb-cdea967747ca" >
		<http:listener doc:name="Listener" doc:id="7929833d-4c5a-4086-a0bb-4ef734baadd7" config-ref="HTTP_Listener_config" path="/demo"/>
		<ee:transform doc:name="Transform Message" doc:id="0631118b-dde3-4291-bce5-af87e11fc2d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var name = "alemu"
var age =67
var myarray = ["a","b","c"]
var num1=656
var num2=46
---
name ++  " " ++ age
#num1+num2]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dwexpFlow1" doc:id="915c8ecc-f6de-4d34-a2a1-21c3272e9b3e" >
		<http:listener doc:name="Listener" doc:id="026426e1-9520-49b6-b6c3-1ca2ff1194ed" config-ref="HTTP_Listener_config" path="/do"/>
		<ee:transform doc:name="Transform Message" doc:id="577f20c6-4786-4953-bb5c-4c99239a9db7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
do {
	var myvar=12
	---
	myvar + 223
} ++ "sum of  nums"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dwexpFlow2" doc:id="2912e3f5-e9c8-4f84-9464-c8de02d7d3e3" >
		<http:listener doc:name="Listener" doc:id="b7d03e8f-c14f-451a-911d-7ce505cd6b4d" config-ref="HTTP_Listener_config" path="/conditional"/>
		<ee:transform doc:name="Transform Message" doc:id="0aea56eb-3fb5-48d2-b37a-d983fe38ee16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var num1 = payload.num1
var num2 = payload.num2
var num= num1 - num2 
---
if ( num > 0 ){
   return: "postive"
   }
else if (num < 0){
	return:"-ve"
}
 else {
 	return : "0"
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dwexpFlow3" doc:id="18aad4aa-f461-4af8-9a0d-63415483b634" >
		<http:listener doc:name="Listener" doc:id="7a7c5acf-a144-4617-b04e-36d54e9fdd41" config-ref="HTTP_Listener_config" path="/fun"/>
		<ee:transform doc:name="Transform Message" doc:id="6f1d1ba2-ca56-425e-9e57-d54999eeed94" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

fun myfun(a = 12,b = 45) = {
	return : a+b
	
}
---
myfun()]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dwexpFlow4" doc:id="ab41a0d6-99d6-4ce7-a7f5-5f30d9c5c4ae" >
		<http:listener doc:name="Listener" doc:id="9a92905f-fe76-4baa-845b-67bc7cc450c9" config-ref="HTTP_Listener_config" path="/map"/>
		<ee:transform doc:name="Transform Message" doc:id="518cd402-eac1-473b-8eb5-3ae56fb43e7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
["java","mule","c#"] map (value, index) -> {
(index):value
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dwexpFlow5" doc:id="4471ffac-0a48-43fa-b7c8-07846a3e1952" >
		<http:listener doc:name="Listener" doc:id="1136e03f-fd35-43f6-a23f-17305705d50c" config-ref="HTTP_Listener_config" path="/mapobject"/>
		<ee:transform doc:name="Transform Message" doc:id="61cee2b0-11e5-4a79-9519-894b9cef16aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"a":"b","c":"d"} mapobject (value,key,index) ->
 { (index):{ (value):key}}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dwexpFlow6" doc:id="f24dc7db-7de4-4bad-a77f-c5ad27d97a5d" >
		<http:listener doc:name="Listener" doc:id="b889ca88-7302-420e-a311-420fe1a0f59e" config-ref="HTTP_Listener_config" path="/groupby"/>
		<ee:transform doc:name="Transform Message" doc:id="964b3869-7794-4d85-b858-5c5e72c819f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var myarray = [
	{"name" : "foo" , "language":"java"},
	{"name":"sam", "language":"java"},
	{"name":"foo", "language":"scala"}
	]
	
---
myarray groupby (item) -> (item.name) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
