McKessonPayment/src/main/mule/implimentation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:google-ad-manager="http://www.mulesoft.org/schema/mule/google-ad-manager" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/google-ad-manager http://www.mulesoft.org/schema/mule/google-ad-manager/current/mule-google-ad-manager.xsd">
	<flow name="covid" doc:id="ed3f8d2d-9093-4b04-96aa-4bc7650f7bfc">
		<flow-ref doc:name="covid1" doc:id="9dec50e1-6c0a-4efa-a674-2d973e8bfcef" name="Implementation-covid-api" />
		<flow-ref doc:name="weather" doc:id="396b8e3a-5dac-4680-b6ce-9ab870300422" name="weather-Data" />
		<flow-ref doc:name="country" doc:id="9774ad73-a581-4eee-ba8b-7b29102af1bb" name="country" />
		<flow-ref doc:name="exchange" doc:id="3a6eb6e9-f743-4cbc-9663-613b50df6fc9" name="exchange" />
	</flow>
	
	
	<sub-flow name="country" doc:id="e5ef3ab7-1d1d-4955-b260-8ee77623c24c" >
		<http:request method="GET" doc:name="countries" doc:id="30cb5ab9-1a8d-4f6f-9b3c-e8146027daf5" target="country11" config-ref="HTTP_COUNTRIE" path="/data/v1/countries">
			<reconnect-forever />
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7151201a-1aed-4766-ac52-0701ea36f55d">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="code1"><![CDATA[%dw 2.0
output application/json
var p = vars.country11.data filterObject ((value, key, index) -> (key as String == vars.weather.code[0])) 
var filtered = vars.country11 filterObject ((value, key, index) -> (key as String != "data"))
var filtered1 = filtered ++ "data": p
var filtered2 = if(p =={}) filtered ++ "data":vars.country11.data filterObject ((value, key, index) -> (key as String ==  "BZ" ))else filtered1
---
(filtered2.data  pluck ((value, key, index) ->  key))[0]]]></ee:set-variable>
				<ee:set-variable variableName="code2"><![CDATA[%dw 2.0
output application/json
var p = vars.country11.data filterObject ((value, key, index) -> (key as String == vars.weather.code[1])) 
var filtered = vars.country11 filterObject ((value, key, index) -> (key as String != "data"))
var filtered1 = filtered ++ "data": p
var filtered2 = if(p =={}) filtered ++ "data":vars.country11.data filterObject ((value, key, index) -> (key as String ==  "BZ" ))else filtered1
---
(filtered2.data  pluck ((value, key, index) ->  key))[0]]]></ee:set-variable>
				<ee:set-variable variableName="code3"><![CDATA[%dw 2.0
output application/json
var p = vars.country11.data filterObject ((value, key, index) -> (key as String == vars.weather.code[2] )) 
var filtered =vars.country11 filterObject ((value, key, index) -> (key as String != "data"))
var filtered1 = filtered ++ "data": p
var filtered2 = if(p =={}) filtered ++ "data":vars.country11.data filterObject ((value, key, index) -> (key as String ==  "BZ" ))else filtered1
---
(filtered2.data  pluck ((value, key, index) ->  key))[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="5fee9c96-5672-42c9-bcee-c166587677f8">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="country1"><![CDATA[%dw 2.0
output application/json
var p = vars.country11.data filterObject ((value, key, index) -> (key as String == vars.weather.code[0])) 
var filtered = vars.country11  filterObject ((value, key, index) -> (key as String != "data"))
---
filtered ++ "data": p]]></ee:set-variable>
				<ee:set-variable variableName="country2"><![CDATA[%dw 2.0
output application/json
var p = vars.country11.data filterObject ((value, key, index) -> (key as String == vars.weather.code[1])) 
var filtered = vars.country11  filterObject ((value, key, index) -> (key as String != "data"))
---
filtered ++ "data": p]]></ee:set-variable>
				<ee:set-variable variableName="country3"><![CDATA[%dw 2.0
output application/json
var p = vars.country11.data filterObject ((value, key, index) -> (key as String == vars.weather.code[2])) 
var filtered = vars.country11  filterObject ((value, key, index) -> (key as String != "data"))
---
filtered ++ "data": p]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="exchange" doc:id="b3af29bb-60f9-4b50-a7fc-e08e210ca3e7">
		<ee:transform doc:name="Transform Message" doc:id="10942b06-6d34-43c8-9c30-d098dc651854">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
readUrl("classpath://code.json","application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="f82d2cc2-8983-463b-8d0a-36e4467af7fb">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="exchangeRate"><![CDATA[%dw 2.0
output application/json
var p = payload filter ((item, index) ->item.CountryCode == vars.code1 or item.CountryCode == vars.code2 or item.CountryCode == vars.code3)
---
p.Code]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="exchange" doc:id="e683330d-38d0-49a1-a375-99bd2b872c1b" url="https://v6.exchangerate-api.com/v6/84e3718f9f57dafa347efee8/latest/USD" config-ref="HTTP_Request_exchang">
			<reconnect-forever />
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="336b78f6-5a41-4479-8036-3d5cf58a0ae2">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="Exchange2"><![CDATA[%dw 2.0
output application/json
var p = payload filterObject ((value, key, index) -> (key as String != "conversion_rates"))
var f = payload.conversion_rates  filterObject ((value, key, index) -> (key as String == vars.exchangeRate[1]))
---
p ++ "conversion_rates": f]]></ee:set-variable>
				<ee:set-variable variableName="Exchange1"><![CDATA[%dw 2.0
output application/json
var p = payload filterObject ((value, key, index) -> (key as String != "conversion_rates"))
var f = payload.conversion_rates  filterObject ((value, key, index) -> (key as String == vars.exchangeRate[0]))
---
p ++ "conversion_rates": f]]></ee:set-variable>
				<ee:set-variable variableName="Exchange3"><![CDATA[%dw 2.0
output application/json
var p = payload filterObject ((value, key, index) -> (key as String != "conversion_rates"))
var f = payload.conversion_rates  filterObject ((value, key, index) -> (key as String == vars.exchangeRate[2]))
---
p ++ "conversion_rates": f]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="All" doc:id="d3fe29b6-1b0d-431b-8115-85b4611e433f" >
		<flow-ref doc:name="Flow Reference" doc:id="75053228-6feb-47e9-800a-e1ab558e7fc7" name="covid"/>
		<ee:transform doc:name="Transform Message" doc:id="2410840f-3e00-4218-9c08-a294875643fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
   	{
    covidTracking1: vars.covid[0],
	weather1: vars.weathers1,
	country1: vars.country1,
	exchange1: vars.Exchange1
	},
   	{
    covidTracking2: vars.covid[1],
	weather2: vars.weathers2,
	country2: vars.country2,
	exchange2: vars.Exchange2
	},
  
	{
    covidTracking3: vars.covid[2],
	weather3: vars.weathers3,
	country3: vars.country3,
	exchange3: vars.Exchange3
	}
	
	]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
